body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
}

.hr-top {
    margin-top: 50px;
}

.hr-bottom {
    margin-bottom: 50px;
}

.navbar-logo {
    vertical-align: middle;
    height: 50px;
    padding-top: 5%;
}


.home-img-container {
    background-color: #ffffff;
    position: static;
}

.home-img {
    height: auto;
    width: 80%;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: 10%;

}

body {
    background-color: #ffffff;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



.nav-link {
    color: #000000;
    text-decoration: none;
}

footer {
    height: 100px;
    background-color: #ffffff;
    color: #000000;
}

/* .link {
    color: #000000;
    text-decoration: none;
} */

/* .link:hover,
.link:active {
    color: #808080;
    text-decoration: underline;
} */

.main-nav {
    position: fixed;
    background-color: #ffffff;
}

.nav-row {
    height: 100px;
}