body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

hr {
    border: 1px solid #000000;
    margin: 0;
    padding: 0;
}

.hr-top {
    margin-top: 50px;
}

.hr-bottom {
    margin-bottom: 50px;
}

.navbar-logo {
    vertical-align: middle;
    height: 50px;
    padding-top: 5%;
}


.home-img-container {
    background-color: #ffffff;
    position: static;
}

.home-img {
    height: auto;
    width: 80%;
    object-fit: cover;
    margin-top: 10%;
    margin-bottom: 10%;

}

body {
    background-color: #ffffff;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Roboto, Arial, sans-serif;
}



.nav-link {
    color: #000000;
    text-decoration: none;
}

footer {
    height: 100px;
    background-color: #ffffff;
    color: #000000;
}

.main-nav {
    position: fixed;
    background-color: #ffffff;
}
main {
    margin: 204px auto 0;
}

.nav-row {
    height: 100px;
}
.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}