{% extends 'base.html' %} {% block content %}
<section class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-sm-12 col-md-12 col-log-12">
                <h2 class="home-heading">Our Story</h2>
                <p>
                    At Salt of the Earth, we believe in the transformative power of food and
                    its ability to bring people together. Our story begins with a passion
                    for the authentic tastes of the Mediterranean, where every dish is a
                    tribute to the region's diverse culinary heritage. From the rustic charm
                    of Italian cuisine to the vibrant spices of North Africa, each plate
                    tells a tale of tradition, innovation, and love.
                </p>
            </div>
            <!-- <div class="col col-sm-12 col-md-12 col-log-12">
      <img
        src="https://res.cloudinary.com/dmux1cvft/image/upload/v1702558475/pexels-alleksana-4113915_zonbta.jpg"
        alt="herbs"
        class="about-img"
      />
    </div> -->
    




        </div>
    </div>
</section> 
{% endblock %}
