<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Salt Of The Earth" />
    <meta
      name="keywords"
      content="restaurant, cusine, mediterranean, food, events, dining, gastronomic, flavours, culinary, authentic, heritage, tradition"
    />
    <meta name="author" content="Vik-DTs" />
    <title>Salt Of The Earth</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body></body>
</html>
