{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div
      class="col col-sm-12 col-md-12 col-log-12 home-img-container text-center"
    >
      <h1>Salt Of The Earth</h1>
  </div>
        <div class="col col-sm-12 col-md-12 col-log-12 home-img-container text-center">
      <img
        src="https://res.cloudinary.com/dmux1cvft/image/upload/v1702557741/pexels-rachel-claire-4997875_vnlgfn.jpg"
        alt="restaurant interior"
        class="home-img mx-auto"
      />
    </div>
  </div>
</div>


  {% endblock %}
</div>
